
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: green;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

#sample_container_id {
  width: auto;
  height: auto;
  
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
table {
  font-size: 10pt;
  font-family: 'verdana', sans-serif;
  text-align: justify;
  padding: 14px 14px 14px 14px;
  align:center;
  width:750px;
  background: white;
}

table th{
  background-image: url(image/title.png);
  border: 0;
}

table td{
padding: 2px 5px 2px 5px;
}
fieldset{
  width:800px;
  border-radius:25px;
  background-image: url(image/bg.png);
  
}
fieldset legend{
  background-image: url(image/title1.png);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  width:350px;
 padding: 5px 14px 15px 14px;
 height: 10px
}
address {
  background: white;
}
